.wrapper_main-result {
	position: relative;
	color: #fff;
	width: 100%;
	height: 100%;
	font-size: 17px;
}

.wrapper_table-result {
	color: #fff;
	width: 350px;
	margin: 20px auto;
}

.wrapper_table-result table{
	border-collapse: collapse;
	margin: auto;
}

.wrapper_table-result th,
.wrapper_table-result td{
	border: 1px solid #fff;
	text-align: center;
}



.table-number {
	width: 40px;
}

.table-name,
.table-result {
	width: 155px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	color: rgb(184, 184, 254);
}

.table-name{
	width: 210px;
}

.table-result {
	width: 100px;
}

.table-flip {
	display: flex;
	flex-direction: row;
	
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.table-flip div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.table-flip div p{
	margin: 0;
}

.table-flip div input{
	cursor: pointer;
}

.raw-empty {
	text-align: center;
}