.game4-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  line-height: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  position: relative;
}
._game4-container {
  max-width: 1630px;
  margin: 0px auto;
}

/*========================================================================================================*/

.game4-main__container {
  margin-top: 15px;
}
.game4-main__title {
  margin: 0px auto;
  text-align: center;
  color: white;
}

.game4-main__chips {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0px auto;
}
.game4-main__chip {
  flex: 0 1 45%;
  height: 135px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;
  opacity: 0.5;
}
.game4-main__chip:hover {
  transition: 0.2s;
  opacity: 1;
}

#game4-yoda-chip {
  background-image: url("../../assets/game4images/Yoda.png");
  background-position-y: -10px;
}

#game4-dart-chip {
  background-image: url("../../assets/game4images/Anakin.png");
}

.game4-main__game-table {
  margin: 0px auto;
  position: relative;
  border: 8px solid rgb(77, 75, 75);
}
.game4-main__game-row {
  display: flex;
}

.game4-main__game-cell {
  background-color: #121212;
  border: 2px solid rgb(77, 75, 75);
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  cursor: pointer;
  color: transparent;
  user-select: none;
}
.game4-main__game-cell:hover {
  opacity: 0.7;
}

.game4-yoda {
  background-image: url("../../assets/game4images/Yoda.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.game4-dart {
  background-image: url("../../assets/game4images/Anakin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.game4-main__game-table {
  border-collapse: collapse;
}
.game4-main__game-table .game4-main__game-row:first-child div {
  border-top: 0;
}

.game4-main__game-table .game4-main__game-row:last-child div {
  border-bottom: 0;
}

.game4-main__game-table .game4-main__game-row div:first-child {
  border-left: 0;
}

.game4-main__game-table .game4-main__game-row div:last-child {
  border-right: 0;
}

.game4-main__endgame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  display: none;
  background-color: black;
}

.game4-endgame__message {
  padding-top: 100px;
  font-size: 36px;
  color: white;
  text-align: center;
}

.game4-endgame__button {
  font-size: 30px;
  border-radius: 5px;
  display: block;
  margin: 40px auto 0px auto;
  width: 40%;
  height: 80px;
  cursor: pointer;
}

.game4-endgame__button:hover {
  background-color: gray;
  transition: 0.3s;
}

.open {
  display: block;
}
.disable {
  pointer-events: none;
  opacity: 0.3;
}

@media (max-width: 670px) {
  .game4-main__game-cell {
    width: 100px;
    height: 100px;
  }
  .game4-main__title {
    width: 320px;
    font-size: 24px;
  }

  .game4-main__chips {
    width: 225px;
  }
  .game4-main__chip {
    height: 100px;
    width: 100px;
  }
}
