.game1-wrapper {
  position: relative;
  margin: auto;
  max-width: 1400px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 100px;
}

.game1-wrapper.game1-start{
  padding: 0;
}

.game1-wrapper h2 {
  color: white;
}

.game1-wrapper_button {
  width: 130px;
  padding: 10px;
  background-color: fuchsia;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  transition: all .3s ease-in-out
}

.game1-wrapper_button:hover {
  transform: scale(1.1);
}


._game1-container {
  padding: 0px 15px 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.game1-button {
  width: 146px;
    height: 40px;
  border-radius: 3px / 100%;
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px,
    rgba(100, 100, 100, 0.3) 3px 7px 3px;
  user-select: none;
  outline: none;
  border-radius: 3px / 100%;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.3)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.game1-button:hover {
  transition: 0.7s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.game1-button:active {
  transition: 0.1s linear;
  background-color: green;
}
.game1-button:disabled {
  background-color: gray;
  color: black;
}
.game1-button:disabled:hover {
  transition: none;
  cursor: auto;
}

.game1-main__title {
  text-align: center;
}

.game1-main__settings {
  width: 1000px;
  display: flex;
  gap: 10px;
  margin: 15px auto 0px auto;
  justify-content: space-between;
  align-items: center;
}

.game1-main__timer {
  display: flex;
}

.game1-main__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game1-main__timer,
.game1-main__answers-count {
  flex: 0 1 25%;
  font-size: 20px;
}
.game1-main__answers-count {
  text-align: end;
}

.game1-main__start-message {
  margin: 20px auto 0px auto;
  text-align: center;
  font-size: 28px;
}

.game1-main__body {
  width: 1000px;
  display: none;
}

.game1-main__question {
  margin: 40px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  user-select: none;
  height: 110px;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.3)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px,
    rgba(100, 100, 100, 0.3) 3px 7px 3px;
}

.game1-main__answers-block {
  margin: 15px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.game1-main__answer {
  flex: 0 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  height: 50px;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.3)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px,
    rgba(100, 100, 100, 0.3) 3px 7px 3px;
}

.game1-main__answer:hover {
  transition: 0.7s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  background-color: gray;
}
.game1-correct {
  background-color: green;
  transition: 0.7s linear;
}
.game1-correct:hover {
  background-color: green;
}
.game1-incorrect {
  background-color: red;
  transition: 0.7s linear;
}
.game1-incorrect:hover {
  background-color: red;
}

.game1-main__next-button {
  display: block;
  color: black;
  margin: 15px auto 0px auto;
}

.game1-main__complete {
  display: none;
}
.game1-open {
  display: block;
}
.game1-close {
  display: none;
}

.game1-main__complete-message {
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 10px;
  height: 110px;
  display: flex;
  align-items: center;
  font-size: 22px;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.3)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px,
    rgba(100, 100, 100, 0.3) 3px 7px 3px;
  user-select: none;
  outline: none;
}

.game1-main__complete-text {
  margin: 0px auto 0px auto;
  text-align: center;
}

@media (max-width: 1300px) {
  .game1-main__title,
  .game1-main__settings,
  .game1-main__body {
    width: 900px;
  }
  .game1-main__settings {
    justify-content: space-between;
  }
  .game1-main__timer {
    flex: 0 1 20%;
  }
  .game1-main__answers-count {
    flex: 0 1 30%;
  }
}

@media (max-width: 992px) {
  .game1-main__title,
  .game1-main__settings,
  .game1-main__body {
    width: 700px;
  }

  .game1-main__answers-block {
    margin-top: 10px;
    row-gap: 15px;
  }
}

@media (max-width: 768px) {
  .game1-main__title,
  .game1-main__settings,
  .game1-main__body {
    width: 600px;
  }
  .game1-main__settings {
    margin-top: 10px;
  }
  .game1-main__title {
    margin-top: 10px;
  }
  .game1-main__start-message {
    margin-top: 10px;
  }

  .game1-button {
    height: 40px;
    font-size: 18px;
  }
  .game1-main__timer,
  .game1-main__answers-count {
    font-size: 16px;
  }
  .game1-main__timer {
    flex: 0 1 15%;
  }
  .game1-main__answers-count {
    flex: 0 1 35%;
  }
  .game1-main__question {
    margin-top: 10px;
    font-size: 20px;
    height: 90px;
  }

  .game1-main__answer {
    font-size: 20px;
    height: 40px;
  }
  .game1-main__next-button {
    margin-top: 10px;
  }

  .game1-main__complete-message {
    height: 90px;
    font-size: 22px;
  }
}

@media (max-width: 640px) {
  .game1-main__title,
  .game1-main__settings,
  .game1-main__body {
    width: 450px;
  }

  .game1-main__settings{
    gap: 15px;
  }

  .game1-main__title {
    font-size: 22px;
  }

  .game1-main__buttons {
    gap: 10px;
}

  .game1-button {
    width: 117px;
    font-size: 14px;
    height: 35px;
  }
  .game1-main__timer,
  .game1-main__answers-count {
    font-size: 14px;
  }
  .game1-main__timer {
    flex: 0 1 14%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .game1-main__answers-count {
    display: flex;
    flex: 0 1 36%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .game1-main__question {
    font-size: 18px;
    height: 60px;
  }

  .game1-main__answers-block {
    margin-top: 15px;
    row-gap: 10px;
}

  .game1-main__answer {
    font-size: 18px;
    height: 35px;
}

.game1-main__complete-message {
  margin-top: 29px;
}

  .game1-main__complete-message {
    height: 80px;
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  ._game1-container {
    padding: 0;
  }

  .game1-main__title,
  .game1-main__settings,
  .game1-main__body {
    width: 340px;
  }

  .game1-main__settings {
    gap: 32px;
}

  .game1-main__title {
    font-size: 20px;
  }

  .game1-button {
    width: 70px;
    font-size: 14px;
    line-height: 80%;
  }

  .game1-main__timer,
  .game1-main__answers-count {
    font-size: 14px;
  }

  .game1-main__question {
    font-size: 16px;
    height: 70px;
    line-height: 70px;
  }

  .game1-main__answer {
    font-size: 16px;
    height: 35px;
  }

  .game1-main__complete-message {
    font-size: 16px;
  }

  .game1-main__next-button{
    width: 100px;
  }
}
