.game5-wrapper {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 100px;
  max-width: 1400px;
  margin: auto;
}

.game5-wrapper h2 {
  color: white;
}

.game5-wrapper.game5-start {
  padding: 0;
}

.game5-wrapper_info {
  font-size: 18px;
}

.game5-wrapper_button,
.game5-wrapper_start-again-btn {
  width: 130px;
  padding: 10px;
  background-color: fuchsia;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  transition: all .3s ease-in-out
}

.game5-wrapper_button:hover,
.game5-wrapper_start-again-btn:hover {
  transform: scale(1.1);
}

.game5-wrapper_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.game5-wrapper_header p,
.game5-wrapper_header h2 {
  color: rgb(71, 132, 255);
  font-weight: 600;
}

.game5-wrapper_score{
  display: flex;
  flex-direction: column;
}

.game5-wrapper_header h2 {
  margin: 13px 0;
}

.game5-wrapper_header p {
  margin: 0;
}

.game5-wrapper_start-again-btn {
  width: 130px;
  color: white;padding: 8px 10px;
}

.game5-wrapper_container-cards {
  display: grid;
  grid-template-columns: repeat(9, auto);
  gap: 5px 5px;
  background-color: rgba(62, 62, 62, 0.585);
  border: 5px solid rgb(72, 64, 64);
  border-radius: 5px;
  padding: 4px;
  perspective: 1000px;
  position: relative;
}

.game5-container_shadow {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
  justify-content: center;
}

.game5-container_shadow div{
  display: flex;
  flex-direction: column;
  color: rgb(71, 132, 255);
}

.game5-wrapper_div-card {
  position: relative;
  width: 117px;
  height: 167px;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.game5-wrapper_div-card:active {
  transform: scale(0.95);
  transition: transform .2s;
}

.game5-wrapper_div-card.flip {
  transform: rotateY(180deg);
}


.game5-card_front-face,
.game5-card_back-face {
  /* width: 235px;
  height: 334px; */
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.game5-card_front-face {
  transform: rotateY(180deg);
}


@media (max-width: 1120px) {
  .game5-wrapper_div-card {
    width: 111px;
    height: 158px;
  }
}

@media (max-width: 1070px) {
  .game5-wrapper_container-cards {
    grid-template-columns: repeat(9, auto);
    gap: 5px 5px;
    padding: 3px;
    border: 5px solid rgb(72, 64, 64);
  }
  .game5-wrapper_div-card {
    width: 108px;
    height: 153px;
  }
}

@media (max-width: 1035px) {
  .game5-wrapper_container-cards {
    gap: 4px 4px;
    padding: 3px;
    border: 4px solid rgb(72, 64, 64);
  }
  .game5-wrapper_div-card {
    width: 105px;
    height: 150px;
  }
}

@media (max-width: 1010px) {
  .game5-wrapper_container-cards {
    grid-template-columns: repeat(6, auto);
    padding: 2px;
  }
  .game5-wrapper_div-card {
    width: 117px;
    height: 167px;
  }
}

@media (max-width: 890px) {
  .game5-wrapper_container-cards {
    grid-template-columns: repeat(6, auto);
    gap: 5px 5px;
    padding: 4px;
    border: 5px solid rgb(72, 64, 64);
  }
  .game5-wrapper_div-card {
    width: 111px;
    height: 158px;
  }
}

@media (max-width: 800px) {
  .game5-wrapper_start-again-btn {
    padding: 5px 5px;
    font-size: 14px;
    width: 101px;
  }
}

@media (max-width: 750px) {
  .game5-wrapper_container-cards {
    grid-template-columns: repeat(6, auto);
  }
  .game5-wrapper_div-card {

    width: 105px;
    height: 150px;
  }
}

@media (max-width: 680px) {
  .game5-wrapper_container-cards {
    gap: 4px 4px;
    padding: 3px;
    border: 4px solid rgb(72, 64, 64);
  }
  .game5-wrapper_div-card {
    width: 99px;
    height: 141px;
  }
}

@media (max-width: 635px) {
  .game5-wrapper_container-cards {
    gap: 3px 3px;
    padding: 2px;
    border: 3px solid rgb(72, 64, 64);
  }
  .game5-wrapper_div-card {
    width: 96px;
    height: 136px;
  }
}

@media (max-width: 610px) {
  .game5-wrapper_div-card {
    width: 94px;
    height: 133px;
  }
}

@media (max-width: 595px) {
  .game5-wrapper_div-card {
    width: 87px;
    height: 125px;
  }
}

@media (max-width: 550px) {
  .game5-wrapper_div-card {
    width: 84px;
    height: 120px;
  }
}

@media (max-width: 530px) {
  .game5-wrapper_div-card {
    width: 82px;
    height: 116px;
  }
}

@media (max-width: 520px) {
  .game5-wrapper_container-cards {
    grid-template-columns: repeat(4, auto);
  }

  .game5-wrapper_div-card {

    width: 111px;
    height: 158px;
  }
  .game5-wrapper_header{
    width: 90%;
  }
  .game5-wrapper_header h2 {
    font-size: 18px;
  }
  .game5-wrapper_header p {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .game5-wrapper_header{
    width: 95%;
  }

  .game5-wrapper_header h2 {
    width: 70px;
    margin: 10px 0;
  }

  .game5-wrapper_div-card {
    width: 99px;
    height: 141px;
  }
}

@media (max-width: 450px) {
  .game5-wrapper_header{
    width: 95%;
  }

  .game5-wrapper_header h2 {
    width: 70px;
    margin: 10px 0;
  }

  .game5-wrapper_div-card {
    width: 94px;
    height: 133px;
  }
}

@media (max-width: 400px) {
  .game5-wrapper_div-card {
    width: 82px;
    height: 116px;
  }
}