.body {
  margin: 0;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.wrapper.dark {
  background-color: #405079;
  color: white;
}

.conteiner_header-main {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(255, 251, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  color: #000000;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  position: relative;
}

.header.dark{
  background-color: #252d42;
  color: white;
  box-shadow: 0 8px 16px rgb(0 0 0 / 75%);
}

.shadow,
.shadow_login-window {
  display: none;
  background-color: #0000009e;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.shadow {
  z-index: 5;
}

.shadow_login-window {
  z-index: 15;
}

.shadow_login-window.active {
  display: block;
}

.up-header{
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo p{
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 180%;
}

.logo .one-part {
  color: rgb(156, 137, 104);
}

.logo .two-part {
  color:  #4784ff;
}


.container_settings-authorization {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.burger {
  display: none;
  cursor: pointer;
  width: 26px;
  height: 15px;
}

.header a{
  text-decoration: none;
}

.personal-settigs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.lang {
  background-color: rgb(156, 137, 104);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
}

.lang_ru,
.lang_en {
  padding: 5px 15px;
  cursor: pointer;
}

.lang-active {
  background: linear-gradient(90deg, #06BFFF 0%, #4784ff 100%);
  color: #fff;
  border-radius: 15px;
}

.style {
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
  position: relative;
}

.volumeOn {
  position: relative;
  width: 40px;
  height: 40px;
}

.volumeOn svg path {
	fill: rgb(156, 137, 104);
}

.volumeOn.active svg path {
	fill: rgb(156, 137, 104);
}

.volume-slash {
  position: absolute;
  width: 37px;
  border-bottom: 4px solid rgb(156, 137, 104);
  top: 17px;
  left: 0px;
  transform: rotate(130deg)
}

.volume-slash.active {
  display: none;
}


.authorization,
.authorization-burger {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn_autorization,
.btn_autorization-burger {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.btn_autorization-burger {
  padding: 7px 20px;
}

.pages {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pages p {
  margin: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  width: calc(100% / 6);
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.pages p:not(:last-child) {
  border-right: 1px solid black;
}

.pages p:hover {
  background: linear-gradient(90deg, #68e3ffc2 0%, #4684ff 100%);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  color: #fff;
}

#choose {
  background: linear-gradient(90deg, #68e3ffc2 0%, #4684ff 100%);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  color: #fff;
}

.burger_menu {
  display: none;
}

.cross,
.cross svg,
.login-window_cross,
.login-window_cross svg,
.signup-window_cross,
.signup-window_cross svg {
  width: 20px;
  height: 20px;
}

.cross:hover,
.login-window_cross,
.signup-window_cross {
  cursor: pointer;
}

.cross:hover path {
  fill: #4684ff;
}

.login-window,
.signup-window {
  display: none;
}

.login-window.active,
.signup-window.active {
  position: absolute;
  z-index: 20;
  top: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 40%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
}

.login-window_header,
.signup-window_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 15px 30px;
}

.login-window_header p,
.signup-window_header p {
  font-size: 22px;
  font-weight: 600;
  color: #2D73FF;
  margin: 0;
}


.login-window_main,
.signup-window_main {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-window_logName,
.login-window_password,
.signup-window_logName,
.signup-window_password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-window_logName p,
.login-window_password p,
.signup-window_logName p,
.signup-window_password p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  width: 45%;
}

.login-window_logName input,
.login-window_password input,
.signup-window_logName input,
.signup-window_password input {
  width: 75%;
  padding: 5px 10px;
}
.login-window_button,
.signup-window_button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #68e3ffc2 0%, #4684ff 100%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main.active {
  background-color: #405079;
  color: white;
}

.footer {
  background-color: rgb(255, 251, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #ff5a00;
  font-size: 30px;
  box-shadow: 0 -8px 16px rgba(0,0,0,0.2);
}
.footer a {
  text-decoration: none;
}

.social-link img {
  max-height: 40px;
  }
  
.github-icon1,
.github-icon2,
.github-icon3 {
  height: 40px;
}
  
.social-link img {
  opacity: .8;
  cursor: pointer;
  transition: all .4s ease-in-out;
  background-color: unset;
}
  
.social-link img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer.dark{
  background-color: #252d42;
  color: white;
  box-shadow: 0 -8px 16px rgb(0 0 0 / 75%);
}

@media (max-width: 1400px) {
  .login-window.active,
  .signup-window.active {
    width: 45%;
  }
}

@media (max-width: 1200px) {
  .login-window.active,
  .signup-window.active {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .login-window.active,
  .signup-window.active {
    width: 55%;
  }
}

@media (max-width: 800px) {
  /* .up-header {
    align-items: flex-start;
  }
  .logo p {
    line-height: 100%;
  }
  .container_settings-authorization {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
  .btn_autorization {
    padding: 5px 15px;
    
  } */
  .pages {
    display: none;
  }
  .authorization {
    display: none;
  }

  .shadow.active {
    display: block;
  }

  .burger {
    display: block;
  }
  .burger_menu {
    background-color: rgb(255, 251, 240);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px 15px 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: -385px;
    transition: top 1s ease;
    z-index: 10;
  }

  .burger_menu.dark {
    background-color: #252d42;
    box-shadow: 0 8px 16px rgb(0 0 0 / 75%);
  }

  .burger_menu.active {
    top: 0;
    z-index: 10;
  }

  .wrap_burger_up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .burger_nav_ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
  }

  .burger_nav_ul.dark {
    color: #fff;
  }
  
  .burger_nav_ul_item {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
  }
  

  .burger_nav_ul_item {
    text-decoration: none;
    font-size: 20px;
  }

  #choose-burger {
    color: #2D73FF;
  }

  .burger_nav_ul_item:hover {
    color: #2D73FF;
  }
  .login-window.active,
  .signup-window.active {
    top: 55px;
    width: 80%;
  }
}

@media (max-width: 600px) {
  .up-header {
    padding: 0 10px;
  }
  .logo p {
    font-size: 29px;
  }
  .lang_ru,
  .lang_en {
    padding: 2px 10px;
  }
  .style,
  .btn-style {
    width: 28px;
    height: 28px;
  }
  .volumeOn,
  .volumeOn svg {
    width: 38px;
    height: 38px;
  }
  .volume-slash {
    width: 33px;
    top: 16px;
    left: 0px;
  }

  .cross,
  .cross svg {
    width: 18px;
    height: 18px;
  }

  .footer {
      font-size: 24px;
  }
  .social-link img {
      max-height: 32px;
    }
  
    .login-window.active,
    .signup-window.active {
      width: 90%;
    }
}

@media (max-width: 500px) {
  .up-header {
    padding: 0 7px;
  }
  .logo p {
    font-size: 22px;
  }
  .personal-settigs {
    gap: 3px;
  }
  .lang_ru,
  .lang_en {
    padding: 1px 6px;
  }
  .style,
  .btn-style {
    width: 20px;
    height: 20px;
  }
  .volumeOn,
  .volumeOn svg {
    width: 32px;
    height: 32px;
  }

  .volume-slash {
    width: 28px;
    top: 15px;
    left: 0px;
  }

  .cross,
  .cross svg {
    width: 16px;
    height: 16px;
  }

  .login-window.active,
  .signup-window.active {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .logo p {
    font-size: 22px;
  }
  .footer {
      font-size: 18px;
  }
  .social-link img {
      max-height: 28px;
  }
}