.game2-wrapper {
  overflow: hidden;
  display: flex;
  position: relative;
  margin: 50px auto;
}
._game2-container {
  margin: 0px auto;
}

.game2-main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game2-main__game {
  width: 71vw;
  max-width: 1400px;
}

@media (max-width: 1400px) {
  .game2-wrapper {
    width: 95vw;
  }

  .game2-main__game {
    width: 100%;
  }
}