.game2-wrapper {

  overflow: hidden;
  display: flex;
  flex-direction: column;

  line-height: 1;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background: white;
  position: relative;
}
._game2-container {
  max-width: 1630px;
  margin: 0px auto;
}

/*========================================================================================================*/

.game2-main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game2-main__game {
  border: 2px solid black;
}

.game2_Dino-start {
  margin-top: 100px;
}