.games_info_container {
  background: url(../../assets/rectangle_light.svg) top / cover no-repeat;
  color: black;
  position: relative;
  font-size: 18px;
  left: 0;
  z-index: 10;
  margin-top: -15vh;
  padding: 180px 40px 0 40px;
}

.games_info_container.dark {
  background: url(../../assets/rectangle_dark.svg) top / cover no-repeat;
  color: white;;
}

.games_info_container .game_section_line {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px 0;
}

.games_info_container.dark .game_section_line {
  border-bottom: 1px solid rgba(255, 255, 255);
  padding: 3px 0 0 0;
}

.games_info_container.dark .game_section {
  padding: 3px 0 0 0;
  color: #ffffff;
}

.game_section {
  color: black;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.games_info_title {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 22px;
}

.games_info_quote {
  margin: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  margin-bottom: 50px;
}

.game_name {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.game_section_header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-flow: row-reverse;
}

.logo_games_picture {
  height: 240px;
  border-radius: 50px;
}

.game_btn {
  margin: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out;
}

.games_info_container.dark .game_btn {
  background-color: rgba(255, 255, 255, 0.2);
}

.game_btn:hover,
.games_info_container.dark .game_btn:hover {
  background-color: #D713C3;
}

.arrowUp{
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 11;
  transform: rotate(180deg);
}

.arrowUp svg{
  width: 60px;
  height: 60px;
  fill: #000000;
}

.arrowUp.dark svg{
  fill: #ffffff;
}

.arrowUp svg:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.arrowDown {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 12;
  background-color: rgb(71, 132, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.arrowDown svg{
  width: 50px;
  height: 50px;
}


.arrowDown:before,
.arrowDown:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(71, 132, 255);
  border-radius: 50%;
   z-index: -1;
   opacity: 0.7;
}

.arrowDown:before {
  animation: pulse 2s ease-out infinite;
}

.arrowDown:after {
  animation: pulse 2s 1s ease-out infinite;
  right: 0;
}

@keyframes pulse {
  100%{
    transform: scale(2);
    opacity: 0;
  }
}


@media (max-width: 1000px) {
  .logo_games_picture {
    height: 200px;
    border-radius: 50px;
  }
}
@media (max-width: 800px) {
  .games_info_container {
    padding: 200px 35px 0 35px;
  }
  .logo_games_picture {
    height: 190px;
    border-radius: 50px;
  }
  .arrowUp img{
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 700px) {
  .game_section_header {
    gap: 10px;
    flex-direction: column-reverse;
  }
  .games_info_container {
    padding: 300px 30px 0 30px;
  }
  .logo_games_picture {
    height: 180px;
    border-radius: 50px;
  }
}
@media (max-width: 600px) {
  .games_info_container {
    padding: 290px 20px 0 20px;
  }
  .games_info_title {
    font-size: 20px;
  }
  .games_info_quote {
    font-size: 18px;
  }
  .logo_games_picture {
    height: 160px;
    border-radius: 50px;
  }
}

@media (min-width: 3000px) {
  .games_info_container {
    padding: 300px 40px 0 40px;
  }
}
@media (min-width: 4000px) {
  .games_info_container {
    padding: 350px 40px 0 40px;
  }
}
@media (min-width: 5000px) {
  .games_info_container {
    padding: 400px 40px 0 40px;
  }
}

@media (min-width: 6000px) {
  .games_info_container {
    padding: 450px 40px 0 40px;
  }
}
